[Unit]
Description=Huge Pages (2M) File System
Documentation=https://www.kernel.org/doc/Documentation/vm/hugetlbpage.txt
Documentation=https://www.freedesktop.org/wiki/Software/systemd/APIFileSystems
DefaultDependencies=no
Before=sysinit.target
ConditionPathExists=/sys/kernel/mm/hugepages/hugepages-2048kB
ConditionCapability=CAP_SYS_ADMIN
ConditionVirtualization=!private-users

[Mount]
What=hugetlbfs
Where=/dev/hugepages2M
Type=hugetlbfs
Options=pagesize=2048k
DirectoryMode=0755

[Install]
WantedBy=multi-user.target
