{
  "service": {
{%- if 'token' in pillar['consul'] %}
    "token": "{{ pillar['consul']['token'].strip() }}",
{%- endif %}

    "id": "git-{{ grains.id }}",
    "name": "git",
    "tags": [],
    "address": "{{ grains['ip4_interfaces']['vrf-mgmt' if grains.get('virtual', 'virtual') == 'physical' else grains['mgmt_interface']][0] }}",
    "port": 443,
    "meta": {
      "meta": "Gitweb"
    },
    "enable_tag_override": false,
    "checks": [
      {
        "id": "Gitweb",
        "name": "Git HTTPS Server",
        "http": "https://{{ grains.fqdn }}:443/git/static/gitweb.js",
        "tls_skip_verify": false,
        "method": "GET",
        "header": {"User-Agent": ["Gitweb-Healthcheck"]},
        "body": "",
        "interval": "10s",
        "timeout": "3s"
      }
    ]
  }
}
