[Unit]
Requires=time-sync.target{% if 'salt-masters' in pillar.get('nodegroups', []) %} salt-master.service{% endif %}
After=time-sync.target{% if 'salt-masters' in pillar.get('nodegroups', []) %} salt-master.service{% endif %}
