[Unit]
Requires=time-sync.target{% if 'salt-master' in grains.get('roles', []) %} salt-master.service{% endif %}
After=time-sync.target{% if 'salt-master' in grains.get('roles', []) %} salt-master.service{% endif %}
