{%- set rules = '
node_prefix "" {
  policy = "read"
}

service_prefix "" {
  policy = "read"
}
'-%}

{# Policy description and export #}
{%- set policy_dict = {
  'Name': 'default-policy',
  'Description': 'Default policy for agents',
  'Rules': rules.strip()
}-%}

{% set policy = policy_dict | json %}
