[Service]
Slice=ceph.slice

[Unit]
After=network-online.target local-fs.target openvswitch-switch.service time-sync.target
Before=ceph-radosgw.target
Wants=network-online.target local-fs.target openvswitch-switch.service time-sync.target ceph-radosgw.target
