# This is a configuration file for /etc/init.d/chrony and
# /lib/systemd/system/chrony.service; it allows you to pass various options to
# the chrony daemon without editing the init script or service file.

# Options to pass to chrony.
DAEMON_OPTS="{{ '-4 ' if pillar.get('grub', {}).get('ipv6_disable', False) not in [0, False] else '' }}-F -1"
