[Unit]
Description="Galera Coordinator and Monitor"
Wants=consul.service mariadb.service time-sync.target
After=consul.service mariadb.service time-sync.target

[Service]
ExecStart=/usr/local/sbin/galera_monitor.py
KillSignal=SIGINT
TimeoutStopSec=75
