{%- set consul_site = pillar['consul']['site'] -%}
{%- set domain = consul_site['domain'] -%}
{%- set role = 'server' if grains.fqdn in consul_site['server_fqdns'] else 'client' -%}
#!/usr/bin/env python3

import base64
import binascii
import http.client as httplib
import http.server
import json
import logging
import logging.handlers
import pymysql
import socketserver
import socket
import ssl
import threading
import time
import urllib
from urllib import request as urllib2


# TTL to use for failover, in seconds (between 10 and 86400).
# Session will be renewed everytime the TTL is halfway to expiration.
CONSUL_TTL = 10


# Configure logging
LOG = logging.getLogger(__name__)
LOG.setLevel(logging.INFO)
handler = logging.handlers.RotatingFileHandler("/var/log/galera_monitor.log",
                                               maxBytes=1024*1024,
                                               backupCount=7)
formatter = logging.Formatter("%(asctime)s [%(levelname)s]: %(message)s")
handler.setFormatter(formatter)
LOG.addHandler(handler)


class ConsulHTTPSConnection(httplib.HTTPSConnection):
    """
    Class which extends a httplib.HTTPSConnection and includes the Consul
    certificate chain and cert/key when connections are formed.
    """
    def __init__(self, consul_host, **kwargs):
        self.ca_certs = "/etc/consul/{{ domain }}-agent-ca.pem"
        self.cert_file = "/etc/consul/{{ role }}-{{ domain }}.pem"
        self.key_file = "/etc/consul/{{ role }}-{{ domain }}-key.pem"

        super(ConsulHTTPSConnection, self).__init__(consul_host, 8501,
                                                    key_file=self.key_file,
                                                    cert_file=self.cert_file,
                                                    timeout=kwargs["timeout"])

    def connect(self):
        sock = socket.create_connection((self.host, self.port), self.timeout)

        self.sock = ssl.wrap_socket(sock, 
            keyfile = self.key_file, 
            certfile = self.cert_file,
            ca_certs = self.ca_certs,
            ciphers = "HIGH",
            cert_reqs = ssl.CERT_REQUIRED,
            ssl_version = ssl.PROTOCOL_TLSv1_2
        )


class ConsulHTTPSHandler(urllib2.HTTPSHandler):
    """
    Class which implements a urllib2.HTTPSHandler which returns connections
    using ConsulHTTPSConnection instead of httplib.HTTPSConnection.
    """
    def __init__(self, consul_host):
        self.consul_host = consul_host
        super(ConsulHTTPSHandler, self).__init__()

    def https_open(self, req):
        # Rather than pass in a reference to a connection class, we pass in
        # a reference to a function which, for all intents and purposes,
        # will behave as a constructor.
        return self.do_open(self.get_connection, req)

    def get_connection(self, _, timeout=10):
        return ConsulHTTPSConnection(self.consul_host, timeout=timeout)


def make_consul_request(opener, url, headers={}, method="GET",
                        data=None, timeout=10):
    """
    Makes an consul API request to the specified URI with the specified HTTP
    method returns the resulting document.  Headers will always include
    "Accept: application/json" if data is supplied unless explicitly overriden.

    The cacert, cert, and key are assumed to be the same as the defaults that
    Consul itself uses for the node.
    """
    endpoint = "https://localhost:8501"
    headers["Accept"] = "application/json; charset=utf-8"
    headers["X-Consul-Token"] = "{{ pillar['consul']['token'].strip() }}"

    if data is not None:
        headers["Content-Type"] = "application/json; charset=utf-8"

        if not isinstance(data, bytes):
            data = json.dumps(data).encode("utf-8")

    request = urllib2.Request(endpoint + url, headers=headers, data=data)
    request.get_method = lambda: method

    connection = opener.open(request, timeout=timeout)

    # We asked for JSON, but sometimes we get an empty response anyways.
    # This happens with, e.g., the agent service deregistration endpoint.
    content_type = connection.headers.get('Content-Type', '')

    if not content_type.startswith('application/json'):
        return {}, connection.headers

    # Try decoding the response as JSON, or leave a friendly log message.
    body = connection.read().decode("utf-8")

    try:
        return json.loads(body), connection.headers

    except json.decoder.JSONDecodeError:
        reason = f"Received non-JSON response from Consul for URL: {url}"
        raise urllib.error.URLError(reason=reason)


def galera_service_definition(leader=False):
    """
    Returns a Consul service definition for MySQL.
    """
    return {
        "ID": "mysql-{{ grains.id }}",
        "Name": "mysql",
        "Tags": ["primary"] if leader is True else [],
        #"Address": "{{ grains.id }}.node.{{ domain }}",
        "Address": "{{ grains['ip4_interfaces']['vrf-mgmt' if grains.get('virtual', 'virtual') == 'physical' and pillar.get('ifupdown', {}).get('managed', True) else grains['mgmt_interface']][0] }}",
        "Port": 3306,
    }


def galera_sync_check(connection=None, reuse_connection=False):
    """
    Function which attempts to connect to the Galera cluster via the local
    MySQL socket and verifies that it is in a synchronized state. If it can
    connect to the local socket and the cluster is synchronized True is
    returned. Otherwise, False is returned.
    """
    try:
        if connection is None:
            socket_path = "/var/run/mysqld/mysqld.sock"
            connection = pymysql.connect(unix_socket=socket_path,
                                         db="information_schema",
                                         charset="utf8mb4",
                                         cursorclass=pymysql.cursors.DictCursor,
                                         connect_timeout=1, read_timeout=1,
                                         write_timeout=1)

        with connection.cursor() as cursor:
            sql = """
            SELECT VARIABLE_VALUE
            FROM GLOBAL_STATUS
            WHERE VARIABLE_NAME = \"wsrep_local_state_comment\"
            """
            cursor.execute(sql, ())
            result = cursor.fetchone()

            g_status = result.get("VARIABLE_VALUE", "").lower().strip()
            return g_status == "synced", connection

    except pymysql.Error:
        pass

    finally:
        if connection is not None and not reuse_connection:
            connection.close()

    return False, connection


class GaleraMonitor(http.server.BaseHTTPRequestHandler):
    """
    Request handler which implements a HTTP GET method that, upon receiving a
    request, makes a connection to the local MySQL database and verifies that
    it is synchronized with the rest of the cluster. If it everything checks
    out, 200/OK is returned. Otherwise 503/SERVICE UNAVAILABLE is returned.
    """
    def do_GET(self):
        self.send_response(200 if galera_sync_check()[0] else 503)
        self.end_headers()


def consul_update_thread(thread_stop_request):
    """
    Thread which continually monitors the health of the local database and
    ensures that the session for MySQl in Consul remains coherent with
    respect to the synchronization status of the local instance.
    """
    thread_name = "consul-status-thread"
    session_key = "service/mysql/cluster"

    kv_read_url = "/v1/kv/service/mysql/cluster"
    service_deregister_url = "/v1/agent/service/deregister/mysql-{{ grains.id }}"
    service_read_url = "/v1/agent/service/mysql-{{ grains.id }}"
    service_register_url = "/v1/agent/service/register"
    session_create_url = "/v1/session/create"
    session_list_url = "/v1/session/node/{{ grains.id }}"

    while not thread_stop_request.is_set():
        try:
            consul_https_handler = ConsulHTTPSHandler("localhost")
            opener = urllib2.build_opener(consul_https_handler)

            # Starting or unhealthy: ensure we are not registered yet.
            # We can register once we're in a known-good state (again?)
            try:
                make_consul_request(opener, service_deregister_url,
                                    method="PUT")

            except urllib.error.HTTPError as error:
                if error.code != 404:
                    raise

            # Search for an existing MySQL session, get its UUID...
            sessions, _ =  make_consul_request(opener, session_list_url)
            mysql_session, found_session = None, False

            if isinstance(sessions, list):
                for session in sessions:
                    if isinstance(session, dict):
                        if session.get("Name") == session_key:
                            mysql_session = session.get("ID")
                            found_session = isinstance(mysql_session, str)
                            break

                # Ensure that the session has the correct TTL
                if found_session:
                    bad_ttl = session.get("TTL") != f"{CONSUL_TTL}s"
                    bad_ld = not (session.get("LockDelay") in ["0s", 0])

                    if bad_ttl or bad_ld:
                        LOG.info("Deleting session with incorrect config")

                    session_url = f"/v1/session/destroy/{mysql_session}"
                    make_consul_request(opener, session_url, method="PUT")
                    found_session = False

            # Else, if no session exists, create a new session...
            if not found_session:
                session = {
                    "Name": session_key,
                    "LockDelay": "0s",
                    "TTL": f"{CONSUL_TTL}s"
                }

                session, _ = make_consul_request(opener, session_create_url,
                                                 data=session, method="PUT")

                if not isinstance(session, dict) \
                        or not isinstance(session.get("ID"), str):
                    LOG.error(f"{thread_name}: New session has no ID?")
                    time.sleep(1)
                    continue

                mysql_session = session["ID"]

            LOG.debug(f"{thread_name}: Using session: {mysql_session}")

            # Determine if the database is healthy or not:
            # If it is, acquire the session. Otherwise, release it.
            action = "acquire" if galera_sync_check()[0] else "release"
            acq_session_url = f"/v1/kv/{session_key}?{action}={mysql_session}"
            node = {"node": "{{ grains.id }}"}

            # If the database is not in a healthy state, we released the
            # session and should now spin until it becomes healthy. Only when
            # it does should we again attempt to contact Consul.
            if action == "release":
                LOG.debug(f"{thread_name}: Wait for database health")
                _, _ = make_consul_request(opener, acq_session_url,
                                           method="PUT")

                # Sleep for a bit longer than usual as to not bounce sessions.
                # TODO: Spin above for database health.
                time.sleep(CONSUL_TTL)
                continue

            session_renew_url = f"/v1/session/renew/{mysql_session}"
            session_url = f"/v1/kv/{session_key}"
            half_ttl = CONSUL_TTL / 2

            # Maintain the session and monitor for changes as long as the
            # database continues to remain in a healthy state.
            try:
                _, connection = galera_sync_check(reuse_connection=True)
                leader = False

                while not thread_stop_request.is_set() and \
                        galera_sync_check(connection=connection,
                                          reuse_connection=True)[0]:

                    # Maintain the session (renew if TTL > TTL / 2). If we are
                    # the leader, we check each loop. But the watchers can
                    # assume a check is needed as they sleep for TTL / 2 below.
                    expiring = leader is False

                    if leader is True:
                        current_time = time.monotonic()

                        if (current_time - last_time) > half_ttl:
                            last_time = current_time
                            expiring = True

                        # Not about to TTL now; sleep a bit to not burn CPU.
                        else:
                            time.sleep(0.25)
                            continue

                    if expiring is True:
                        LOG.debug("Renewing session TTL now...")
                        make_consul_request(opener, session_renew_url,
                                            method="PUT")

                    # If we are the leader, ensure that the kv is still ours.
                    if expiring is True and leader is True:
                        kv, _ =  make_consul_request(opener, kv_read_url)

                        if not isinstance(kv, list) or len(kv) != 1:
                            LOG.error("MySQL kv type is not a list of size 1?")
                            break

                        kv = kv[0]

                        if kv["Session"] != mysql_session:
                            LOG.error("Self-observed unexpected loss of lock")
                            break

                        try:
                            value = json.loads(base64.b64decode(kv["Value"]))

                            if not isinstance(value, dict):
                                LOG.error("MySQL kv value is a dictionary?")
                                break

                        except (binascii.Error, json.decoder.JSONDecodeError):
                            LOG.error("MySQL kv is not base64 JSON-encoded?")
                            break

                        if value.get("node") != "{{ grains.id }}":
                            LOG.error("Session owned by us, but node not us?")
                            break

                    # Not the leader: try acquiring the session before backoff.
                    elif leader is False:
                        check, _ = make_consul_request(opener, acq_session_url,
                                                       method="PUT", data=node)

                        if not isinstance(check, bool):
                            LOG.error("Session lock attempt not true/false?")
                            break

                        leader = check

                        if leader is True:
                            LOG.info(f"{thread_name}: Becoming the leader")
                            last_time = time.monotonic()

                    # Ensure that our service exists and is tagged correctly.
                    need_update = True

                    try:
                        svc, _ = make_consul_request(opener, service_read_url)

                        if not isinstance(svc, dict):
                            LOG.error("Service return is not a dictionary?")
                            break

                        tags = svc.get("Tags", [])
                        need_update = tags != (["primary"] if leader else [])

                    except urllib.error.HTTPError as error:
                        if error.code != 404:
                            raise

                    if need_update is True:
                        LOG.info(f"Updating service record: leader={leader}")
                        data = galera_service_definition(leader=leader)
                        make_consul_request(opener, service_register_url,
                                            data=data, method="PUT")

                    # If we are the leader, sleep just a bit to not burn CPU.
                    if leader is True:
                        time.sleep(0.25)
                        continue
                    
                    # Could not become the leader: watch the session instead.
                    _, headers = make_consul_request(opener, session_url)

                    try:
                        index = int(headers["X-Consul-Index"])
                        session_poll_url = f"{session_url}?index={index}"

                        if index <= 0:
                            LOG.error(f"{thread_name}: Index check fail")
                            time.sleep(half_ttl)
                            continue

                        _, headers = make_consul_request(opener,
                                                         session_poll_url,
                                                         timeout=half_ttl)

                    except (KeyError, TypeError, ValueError):
                        LOG.error(f"{thread_name}: Index is malformed")
                        time.sleep(half_ttl)
                        continue

                    except socket.timeout:
                        pass

            except pymysql.Error:
                LOG.warning(f"{thread_name}: Database error observed")

            # We are exiting or became unhealthy: update Consul.
            session_url = f"/v1/kv/{session_key}?release={mysql_session}"
            make_consul_request(opener, session_url, method="PUT")

            # We observed a database error while polling. Ensure the connection
            # handle kept open in the inner loop is released.
            try:
                connection.close()
                connection = None

            except pymysql.Error:
                pass

        except urllib.error.HTTPError as error:
            prelude = f"{thread_name}: HTTPError ({error.code})"
            LOG.error(f"{prelude}: {error.reason}")
            time.sleep(1)

        except urllib.error.URLError as error:
            LOG.error(f"{thread_name}: URLError: {error.reason}")
            time.sleep(1)

        except socket.timeout:
            LOG.error(f"{thread_name}: Unexpected API timeout")

    # Exiting... try to unregister.
    try:
        consul_https_handler = ConsulHTTPSHandler("localhost")
        opener = urllib2.build_opener(consul_https_handler)
        make_consul_request(opener, service_deregister_url,
                            method="PUT")
    except Exception:
        pass


if __name__ == "__main__":
    LOG.info("Monitor started")

    # Start the thread which posts updates to Consul.
    thread_stop_requested = threading.Event()
    consul_thread = threading.Thread(name="consul-updater",
                                     target=consul_update_thread,
                                     args=(thread_stop_requested,),
                                     daemon=True)
    consul_thread.start()

    # Start the webserver in this thread that can be used to query status.
    with socketserver.TCPServer(("127.0.0.1", 8500), GaleraMonitor) as h:
        try:
            h.serve_forever()

        except KeyboardInterrupt:
            h.shutdown()

    thread_stop_requested.set()
    consul_thread.join()
    LOG.info("Monitor shutdown")
