#
# initramfs.conf
# salt-openstack overrides for mkinitramfs(8). See initramfs.conf(5).

#
# MODULES: [ most | netboot | dep | list ]
#
# most - Add most filesystem and all harddrive drivers.
#
# dep - Try and guess which modules to load.
#
# netboot - Add the base modules, network modules, but skip block devices.
#
# list - Only include modules from the 'additional modules' list
#

MODULES={{ pillar.get('initramfs-tools', {}).get('modules', 'most') }}

#
# COMPRESS: [ gzip | bzip2 | lz4 | lzma | lzop | xz ]
#

COMPRESS=lzma

#
# RUNSIZE: ...
#
# The size of the /run tmpfs mount point, like 256M or 10%
# Overridden by optional initramfs.runsize= bootarg
#

RUNSIZE={{ pillar.get('initramfs-tools', {}).get('runsize', '10%') }}
