{%- set backports = pillar.get('apt', {}).get('backports', False) -%}
# {{ grains.os }} {{ grains.oscodename.lower() }}
deb http://ftp.us.debian.org/debian/ {{ grains.oscodename.lower() }} main
deb-src http://ftp.us.debian.org/debian/ {{ grains.oscodename.lower() }} main
{%- if not grains.oscodename.lower() in ['testing', 'sid'] %}

# {{ grains.oscodename.lower() }}-security
deb http://security.debian.org/debian-security {{ grains.oscodename.lower() }}-security main
deb-src http://security.debian.org/debian-security {{ grains.oscodename.lower() }}-security main
{%- endif %}

# {{ grains.oscodename.lower() }}-updates, previously known as 'volatile'
deb http://ftp.us.debian.org/debian/ {{ grains.oscodename.lower() }}-updates main
deb-src http://ftp.us.debian.org/debian/ {{ grains.oscodename.lower() }}-updates main

# {{ grains.oscodename.lower() }}-backports
{% if not backports %}#{% endif %}deb http://deb.debian.org/debian {{ grains.oscodename.lower() }}-backports main
{% if not backports %}#{% endif %}deb-src http://deb.debian.org/debian {{ grains.oscodename.lower() }}-backports main
{%- for repository in pillar.get('apt', {}).get('repositories', []) %}

# {{ repository['description'] }}
deb {{ repository['url'] }} {{ repository['distribution'] }} {{ repository['component'] }}
{%- endfor %}
