backend jenkins
	balance leastconn
	server-template jenkins {{ max_servers }} _jenkins._tcp.service.consul.stachecki.net resolvers consul ssl verify required ca-file /etc/ssl/certs/ca-certificates.crt
