backend jenkins
	balance leastconn
	server-template jenkins {{ backend.get('max_servers', 1) }} _jenkins._tcp.service.consul.stachecki.net resolvers consul ssl verify required ca-file /etc/ssl/certs/ca-certificates.crt
