backend rabbitmq
	balance leastconn
	server-template rabbitmq {{ backend.get('max_servers', 1) }} rabbitmq.service.consul.stachecki.net:15671 resolvers consul ssl verify required ca-file /etc/ssl/certs/ca-certificates.crt
