{rabbitmq_management,
  [{path_prefix, "/rabbit"},
   {listener, [{port,     15671},
               {ssl,      true},
               {ssl_opts, [{cacertfile, "/etc/rabbitmq/ssl/mgmt_chain.pem"},
                           {certfile,   "/etc/rabbitmq/ssl/mgmt_cert.pem"},
                           {keyfile,    "/etc/rabbitmq/ssl/mgmt_privkey.pem"}]}
              ]}
  ]}
].
