[{rabbit, [
  {cluster_formation, [
    {peer_discovery_backend, rabbitmq_peer_discovery_consul},
    {peer_discovery_consul, [
{%- if 'token' in pillar['consul'] %}
      {consul_acl_token, "{{ pillar['consul']['token'].strip() }}"},
{%- endif %}
      {consul_domain, "{{ pillar['consul']['site']['domain'] }}"},
      {consul_host, localhost},
      {consul_lock_prefix, "service/rabbitmq"},
      {consul_port, 8501},
      {consul_scheme, https},
      {consul_svc, rabbitmq},
      {consul_svc_addr_auto, true},
      {consul_svc_addr_nodename, true},
      {consul_use_longname, true},
      {ssl_options, [
        {verify,     verify_peer},
        {cacertfile, "/etc/rabbitmq/ssl/consul_chain.pem"},
        {certfile,   "/etc/rabbitmq/ssl/consul_cert.pem"},
        {keyfile,    "/etc/rabbitmq/ssl/consul_privkey.pem"}
      ]}
    ]}
  ]}
]},

{rabbitmq_management,
  [{path_prefix, "/rabbit"},
   {listener, [{port,     15671},
               {ssl,      true},
               {ssl_opts, [{cacertfile, "/etc/rabbitmq/ssl/mgmt_chain.pem"},
                           {certfile,   "/etc/rabbitmq/ssl/mgmt_cert.pem"},
                           {keyfile,    "/etc/rabbitmq/ssl/mgmt_privkey.pem"}]}
              ]}
  ]}
].
