[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target systemd-time-wait-sync.service
After=network-online.target systemd-time-wait-sync.service
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=notify
User=consul
Group=consul
ExecStartPre=/bin/mkdir -p /var/lib/consul
ExecStartPre=/bin/chown consul:consul /var/lib/consul
ExecStartPre=/bin/chmod 0750 /var/lib/consul
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d/
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536
PermissionsStartOnly=true
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
