{%- set server_fqdns = pillar['consul']['site']['server_fqdns'].keys() -%}
{%- set server_fqdns = server_fqdns | difference(grains.fqdn) -%}
datacenter = "{{ pillar['consul']['site']['datacenter'] }}"

enable_debug = false
log_level = "INFO"

bind_addr = "{{ grains['ip4_interfaces']['vrf-mgmt' if grains.get('virtual', 'virtual') == 'physical' and pillar.get('ifupdown', {}).get('managed', True) else grains['mgmt_interface']][0] }}"
retry_join = ["{{ '", "'.join(server_fqdns) }}"]

{%- set role = 'server' if grains.id in pillar['consul']['site']['server_fqdns'].values() else 'client' %}
encrypt = "{{ pillar['consul']['key'] }}"
ca_file = "/etc/consul/{{ pillar['consul']['site']['domain'] }}-agent-ca.pem"
cert_file = "/etc/consul/{{ role }}-{{ pillar['consul']['site']['domain'] }}.pem"
key_file = "/etc/consul/{{ role }}-{{ pillar['consul']['site']['domain'] }}-key.pem"
domain = "{{ pillar['consul']['site']['domain'] }}"
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

protocol = 3

addresses {
  dns = "127.0.0.1 127.0.1.1",
  https = "127.0.0.1 127.0.1.1{% if role == 'server' %} {{ ' '.join(grains['ip4_interfaces']['vrf-mgmt' if grains.get('virtual', 'virtual') == 'physical' and pillar.get('ifupdown', {}).get('managed', True) else grains['mgmt_interface']]) }}{% endif %}",
  grpc = "127.0.0.1 127.0.1.1"
}

ports {
  dns = 8600,
  http = -1,
  https = 8501,
  grpc = 8502
}

data_dir = "/var/lib/consul"

# Suppress fingerprinting, remote access, etc.
disable_anonymous_signature = true
disable_remote_exec = true
disable_update_check = true

# Enable brief caching of DNS records
dns_config {
  allow_stale = true
  node_ttl = "1s"
  service_ttl {
    "*" = "1s"
  }
}

# Tighten raft timing parameters to detect failures quickly
performance {
  raft_multiplier = 1
}

# Default-deny ACLs
acl = {
  enabled = true
  default_policy = "deny"
  down_policy = "extend-cache"
  enable_token_persistence = true
{%- if 'token' in pillar['consul'] %}
  tokens {
    default = "{{ pillar['consul']['token'].strip() }}"
  }
{%- endif %}
}
