#!/bin/bash

if [ -z "${JENKINS_PUBLISH_RELEASE}" ]; then
	JENKINS_PUBLISH_RELEASE="{{ grains.oscodename }}"
fi

if [ -z "${JENKINS_PUBLISH_REPOSITORY}" ]; then
	JENKINS_PUBLISH_REPOSITORY="salt-openstack"
fi

IFS=$'\n'
mapfile -t list

cd "/var/lib/reprepro/repos/${JENKINS_PUBLISH_REPOSITORY}"
sudo /usr/local/bin/reprepro.exp includedeb "${JENKINS_PUBLISH_RELEASE}" ${list[*]}

if [ $? -eq 0 ]; then
	rm -fv ${list[*]}
fi
