Origin: {{ repository }}
Label: {{ repository }}
Codename: {{ grains.oscodename }}
Architectures: amd64
Components: main
Description: {{ repository }} APT Repository
SignWith: {{ signing_pubkey_id }}
