{%- for log in (['api', 'api_access', 'api_error', 'master', 'minion', 'key'] if 'salt-master' in grains.get('roles', []) else ['minion']) %}
/var/log/salt/{{ log }} {
	daily
	missingok
	rotate 7
	compress
	notifempty
}
{% endfor %}
