{%- set session_key = 'service/rabbitmq/cluster' %}
{%- set sessions = salt['consul.session_list'](node=grains['id']) %}
{%- set session_uuid = sessions | selectattr('Name', '==', session_key) | list %}

{%- if session_uuid | length == 0 %}
{%- set session_uuid = salt['consul.session_create'](session_key)['ID'] -%}
{%- else %}
{%- set session_uuid = session_uuid[0]['ID'] -%}
{%- endif %}

{%- if salt['consul.session_acquire'](session_uuid, session_key) %}
{%- set cluster_leader = grains.id %}
{%- else %}
{%- set session_uuid = salt['consul.key_get'](session_key)[0]['Session'] %}
{%- set cluster_leader = salt['consul.session_info'](session_uuid)[0]['Node'] %}
{%- endif %}

{%- set rabbitmq_cluster_leader = cluster_leader %}
{%- set rabbitmq_session_uuid = session_uuid %}
