server {
  listen 8080;
  server_name {{ grains.host }}.node.{{ pillar['consul']['site']['domain'] }};

  access_log /var/log/nginx/reprepro.log;
  error_log /var/log/nginx/reprepro-error.log;

  location / {
    root /srv/repos/apt;
    index index.html;
    autoindex on;
  }

  location ~ /(.*)/(conf|db|incoming) {
    deny all;
    return 404;
  }
}
